
h1{
  font-family: var(--font2);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}

h2{
  font-family: var(--font2);
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin: 0;
}

h3{
  font-family: var(--font1);
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  text-transform: uppercase;
}

h4{
  font-family: var(--font1);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

}
